button{
    color: #76797a;
}

label{
    font-weight: normal;
}

.maintable{
    border-spacing: 0;
    border-collapse:collapse;
}
.maintable td{
    padding:5px;
    border: 1px solid #cde5fa;
}

.maintable thead td{
    padding:0;
}

.maintable thead th{
    background-color: #60a7e8;
    font-weight: bold;
    text-align: center;
    color: #e4e4e4;
    text-shadow: #545454 1px 1px;
    padding: 2px;
    border: 1px #ffffff solid;
    position: sticky;
    top:0;
}

.maintable th{
    font-weight: bold;
    background-color: rgba(117, 183, 118, 0.40);
    text-align: center;
    position: sticky;
    top:0;
}

.maintable a{
   text-shadow: 0;
    font-weight: normal;
}

.maintable tbody tr:hover{
    background-color: #e6eff8;

}

